*.config
*.html
*.http
*.ico
*.iml
*.ps1
*.pug
*.txt
*.xml
.editorconfig
.gitignore
.npmignore
.prettierignore
.npmrc

BuildAngular.proj
browserslist

dist
node_modules
projects/**/assets
projects/**/dist
package-lock.json
